<nav class="menu" role="nav">
    <ul>
      <li><a href="https://decisionboundary.ghost.io/">Home</a></li>
      <li><a href="">Item Two</a></li>
      <li><a href="">Item Three</a></li>
    </ul>
</nav>